<!-- Giscus -->
{% set local_comments = "comments" | value_in_frontmatter(page.meta) %}
{% set config_comments = "comments" | value_in_frontmatter(config.extra) %}
{% set config_comments = False if config_comments is none else config.extra["comments"] %}
{% set comments = config_comments if local_comments is none else page.meta['comments'] %}
{% if comments %}

<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="6ddba2de-3920-4ee4-8f6b-0a0c8c2c95c7"
  data-page-id="{{ PAGE_ID }}"
  data-page-url="{{ PAGE_URL }}"
  data-page-title="{{ PAGE_TITLE }}">
  </div>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>

    <!--- generate the script using https://giscus.app/ and replace the text above ! --->

  
{% endif %}